body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  background-image: url(./Vector\ 3.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1600px 650px;
}
#username,
#password,
#discord,
#wallet {
  width: 100%;
  padding: 10px 12px;
  margin: 25px 35px;
  border-radius: 8px;
  border: none;
}
.container {
  background-color: #00c4cc;
  width: 600px;
  height: 550px;
  margin: auto;
  font-size: 20px;
}
form {
  width: 500px;
  margin: 30px 0;
}
p,
h1 {
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
}


#checkbox {
  width: 22px;
  height: 22px;
}
 
.kyc {
  margin-left: 40px;
  color: #fff;
  padding: 20px 0;
  font-size: 18px;
}
.try{
  margin-top: -10PX;
}
.btn-1 {
  text-align: center;
  padding: 7px 15px;
  border-radius: 8px;
  color: #000;
  font-weight: 800;
  border: none;
}
.btn {
  text-align: center;
  padding-left: 90px;
}


section{
  margin-top: -200px;
}
input::-webkit-input-placeholder {
  color: #00c4cc;
  text-align: center;
  font-size: 15px;
}
.wallet {
  width: 100%;
  padding: 10px 28px;
  border-radius: 8px;
  border: none;
  color: #00c4cc;
  font-size: 15px;
}
.wallet-1 {
  padding-left: 80px;
  margin: 12px 0;
}
